* {
  margin: 0;
}

body {
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  margin-bottom: 50px;
  font-size: 4em;
  font-weight: bold;
  color: white;
}
h1,
h3 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-size: 2em;
  color: rgb(69, 128, 177);
  font-weight: 900;
  text-shadow: 2px 2px white;
}
h3 {
  font-size: 1.5em;
}

h4 {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.header_body,
.about_body,
.projects_body,
.glass_body,
.footer_body {
  margin: 0 15vw;
}

/* Nav Bar */

nav {
  background: rgb(90, 92, 90);
  display: flex;
  position: fixed;
  top: 10vh;
  left: 0;
  height: 80vh;
  width: 150px;
  align-items: center;
  border: 5px double rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  padding: 0px 5px;
  margin: 0 auto;
}

nav ul li {
  margin: 20px auto;
}

nav ul li a,
.glass_link {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgb(36, 63, 86);
  color: #f9f9f9;
  border-radius: 5px;
  width: 125px;
  padding: 5px 0;
  font-size: 1.25em;
  transition-duration: 0.2s;
}

nav ul li a:hover,
.glass_link:hover {
  opacity: 0.7;
}

nav ul li a:active,
.glass_link:active {
  color: black;
  background-color: rgb(69, 128, 177, 0.5);
}

/* Header*/
.header_section {
  background: rgb(50, 51, 48);
  height: 100vh;
}
.header_body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.profile_img {
  border: 5px double white;
  border-radius: 120px;
  margin-bottom: 25px;
}

.contact_button,
.resume_button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: rgb(36, 63, 86);
  color: #f9f9f9;
  border-radius: 5px;
  border: none;
  width: 125px;
  margin-top: 25px;
  padding: 5px 0;
  font-size: 1.25em;
  transition-duration: 0.2s;
}
.contact_button:hover,
.resume_button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.contact_button:active,
.resume_button:active {
  color: black;
  background-color: rgb(69, 128, 177, 0.5);
}

/* About Me */
.about_section {
  background-image: url("./images/bg_Mountains_about.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.about_section h3 {
  margin-bottom: 25px;
}
.about_body {
  padding: 100px 0 200px 0;
}

.about_article {
  padding: 5px 100px;
  line-height: 30px;
}

/* Projects */
.projects_section {
  background: rgb(50, 51, 48);
  color: white;
}
.projects_section h3 {
  margin-bottom: 25px;
}

.projects_body {
  padding: 100px 0;
}

.projects_gc {
  display: grid;
  grid-template-columns: 350px auto;
  gap: 25px;
  margin: 0px 100px;
  padding: 50px 0px;
}

.projects_gc ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.projects_gc ul img {
  margin: 10px 10px 0px 10px;
  border-radius: 100px;
}

.project_container_img {
  display: flex;
  flex-direction: column;
}

.project_container_img a img {
  border-radius: 10px;
  margin: 0 auto;
}

.project_container_img a {
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.project_container_img a:hover {
  border: 5px double rgb(41, 41, 41);
}
.project_container_text p {
  line-height: 30px;
}
.center_text {
  margin-top: 35px;
}

/* Stained Glass */
.glass_section {
  background-image: url("./images/StainedGlass_BG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.glass_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 200px 0px;
}

.glass_text {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 2px;
  /* width: 480px; */
  padding: 10px 10px;
  margin-bottom: 50px;
  line-height: 30px;
}

.glass_gc {
  display: flex;
  background: black;
  width: 320px;
  padding: 20px 20px;
  border-radius: 2px;
  overflow-x: scroll;
}

.glass_item {
  padding: 10px;
  border: 1px double white;
}

.glass_link {
  margin-top: 50px;
}

/* Footer */
.footer_section {
  background: rgb(50, 51, 48);
}

.footer_body {
  padding: 50px 0;
  text-align: center;
}

.footer_nav {
  list-style: none;
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  margin: 0 250px;
  padding: 0;
}

.footer_nav a {
  display: block;
  text-decoration: none;
  color: #f9f9f9;
  width: 115px;
  border: 2px dotted rgb(69, 128, 177);
  transition-duration: 0.2s;
}

.footer_nav a:hover {
  background: rgba(36, 63, 86, 0.7);
  border-color: white;
}

.footer_nav a:active {
  background: rgba(125, 126, 128, 0.2);
}

.copytobrd {
  display: none;
}

.email_copy {
  display: inline-block;
  padding: 5px 25px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px dotted rgb(69, 128, 177);
  border-radius: 2px;
  color: white;
  transition-duration: 0.2s;
}
.email_copy .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: rgb(69, 128, 177);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;

  /* Position the tool tiptext */
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-top: -47px;
}
.email_copy .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(69, 128, 177) transparent transparent transparent;
}
.email_copy:active .tooltiptext {
  visibility: visible;
}

.email_copy:hover {
  cursor: pointer;
  background: rgba(69, 128, 177, 0.7);
  border-color: white;
}
.email_copy:hover + .copytobrd {
  display: block;
  position: absolute;
  left: 50vw;
  box-sizing: border-box;
  color: white;
}

.email_copy:active {
  background: rgba(69, 128, 177, 0.2);
}

.footer_links {
  list-style: none;
  padding-left: 0;
  padding-top: 25px;
  margin: 0 250px;
  display: flex;
  justify-content: space-around;
}
.linkedin {
  display: none;
}
.github {
  display: none;
}
.linkedin_link:hover + .linkedin {
  display: block;
  position: absolute;
  color: white;
}
.github_link:hover + .github {
  display: inline-block;
  position: absolute;
  color: white;
}

.linkedin_link,
.github_link {
  display: inline-block;
  border-radius: 50px;
  border: 2px dotted white;
  transition-duration: 0.2s;
}
.linkedin_link:hover,
.github_link:hover {
  border-color: black;
}

.footer_links img {
  border-radius: 50px;
}

/* Contact Window Display */
.contact_window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact_container {
  box-sizing: border-box;
  display: block;
  border: 2px solid rgb(69, 128, 177);
  border-radius: 2px;
  width: 400px;
  height: 600px;
  background: rgb(50, 51, 48);
  color: white;
  margin: 0 auto;
  margin-top: 100px;
}
.close_contact {
  margin-left: 360px;
  margin-top: 5px;
  background-color: rgb(50, 51, 48);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(69, 128, 177);
  transition-duration: 0.2s;
}
.close_contact:hover {
  background-color: rgb(69, 128, 177);
  cursor: pointer;
  border-color: white;
}
.close_contact:active {
  opacity: 0.6;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form select,
.form textarea {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 2px solid rgb(69, 128, 177);
}

.form label {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.form div {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form .comments_box {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  resize: none;
  width: 300px;
}

.form .submit_btn {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  width: 100px;
  border-radius: 5px;
}

.form .submit_btn:hover {
  background-color: rgb(69, 128, 177);
  cursor: pointer;
  border-color: white;
}

.form .submit_btn:active {
  opacity: 0.6;
}

.form .other_input {
  display: none;
}

/* Scaling */
@media only screen and (max-width: 1250px) {
  /* Global changes */
  .header_body,
  .about_body,
  .projects_body,
  .glass_body,
  .footer_body {
    margin: 0 10vw;
  }
  /* Nav Bar */
  nav {
    height: 100px;
    width: 80vw;
    top: 0;
    left: 10vw;
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    margin: 0 10px;
  }

  /* Projects Section*/
  .projects_gc {
    grid-template-columns: 500px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    gap: 35px;
  }

  /* Footer */
  .footer_nav,
  .footer_links {
    margin: 0 15vw;
  }
}

@media only screen and (max-width: 750px) {
  /* Global changes */
  .header_body,
  .about_body,
  .projects_body,
  .glass_body,
  .footer_body {
    margin: 0 2.5vw;
  }
  /* Nav Bar */
  nav {
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
  }
  nav ul li {
    margin: 0 5px;
  }
  nav ul li a {
    width: 20vw;
    font-size: 1em;
  }

  /* Header Section */
  .profile_img {
    margin-top: 100px;
    width: 120px;
    height: 120px;
  }
  h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.5em;
    text-shadow: 1px 1px white;
  }
  .contact_button,
  .resume_button {
    width: 80px;
    font-size: 1em;
  }

  /* About Me */
  .about_article {
    padding: 0 5px;
    line-height: 20px;
  }

  /* Projetcs */
  .projects_gc {
    grid-template-columns: auto;
    gap: 35px;
  }
  .project_container_img a img {
    height: 200px;
    width: 200px;
  }
  .project_container_img a {
    height: 200px;
    width: 200px;
  }
  .projects_gc ul img {
    height: 25px;
    width: 25px;
  }
  .project_container_text p {
    line-height: 20px;
  }

  /* Glass Section */
  .glass_center {
    margin: 50px 2.5vw 0px;
  }
  .glass_gc {
    width: 200px;
  }
  .glass_link {
    width: 90px;
    font-size: 1em;
  }

  /* Footer */
  .footer_nav a {
    width: 25vw;
    font-size: 1em;
  }
  .footer_nav,
  .footer_links {
    font-size: 1em;
    margin: 0 5vw;
  }
}

@media only screen and (max-width: 450px) {
  /* Contact page */
  .contact_container {
    width: 100vw;
    height: 400px;
    overflow-y: scroll;
  }
  .close_contact {
    position: fixed;
    top: 105px;
    right: 10px;
  }
}
